# chennai_reservoir

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import io

In [2]:
df1 = pd.read_csv('chennai_reservoir_levels.csv')
df2 = pd.read_csv('chennai_reservoir_rainfall.csv')

In [3]:
df1.rename(columns= {"Date" : "Date_Noticed"}, inplace= True)
df2.rename(columns= {"Date" : "Date_Noticed"}, inplace= True)

In [4]:
level = df1.copy()
level.head()

  Date_Noticed  POONDI  CHOLAVARAM  REDHILLS  CHEMBARAMBAKKAM
0   01-01-2004     3.9         0.0     268.0              0.0
1   02-01-2004     3.9         0.0     268.0              0.0
2   03-01-2004     3.9         0.0     267.0              0.0
3   04-01-2004     3.9         0.0     267.0              0.0
4   05-01-2004     3.8         0.0     267.0              0.0

In [5]:
rainfall = df2.copy()
rainfall.head()

  Date_Noticed  POONDI  CHOLAVARAM  REDHILLS  CHEMBARAMBAKKAM
0   01-01-2004     0.0         0.0       0.0              0.0
1   02-01-2004     0.0         0.0       0.0              0.0
2   03-01-2004     0.0         0.0       0.0              0.0
3   04-01-2004     0.0         0.0       0.0              0.0
4   05-01-2004     0.0         0.0       0.0              0.0

In [6]:
print(level.shape)
print(rainfall.shape)

(5647, 5)
(5647, 5)

# EDA

In [7]:
df_final = pd.merge(level, rainfall, how = 'inner', on = ['Date_Noticed'], suffixes=('_level', '_rainfall'))
df_final.head()

,Date_Noticed,POONDI_level,CHOLAVARAM_level,REDHILLS_level,CHEMBARAMBAKKAM_level,POONDI_rainfall,CHOLAVARAM_rainfall,REDHILLS_rainfall,CHEMBARAMBAKKAM_rainfall
0,01-01-2004,3.9,0.0,268.0,0.0,0.0,0.0,0.0,0.0
1,02-01-2004,3.9,0.0,268.0,0.0,0.0,0.0,0.0,0.0
2,03-01-2004,3.9,0.0,267.0,0.0,0.0,0.0,0.0,0.0
3,04-01-2004,3.9,0.0,267.0,0.0,0.0,0.0,0.0,0.0
4,05-01-2004,3.8,0.0,267.0,0.0,0.0,0.0,0.0,0.0

In [8]:
df_final.shape

(5647, 9)

### We are adding date, month, year separate columns for further assistance

In [9]:
df_final['Date'] = df_final['Date_Noticed'].apply(lambda x : x.split("-")[0])

In [10]:
df_final['Month'] = df_final['Date_Noticed'].apply(lambda x : x.split("-")[1])

In [11]:
df_final['Year'] = df_final['Date_Noticed'].apply(lambda x : x.split("-")[2])

In [12]:
def int_conv(cols) : 
    return(int(cols))

In [13]:
df_final['Date'] = df_final['Date'].apply(lambda x : int_conv(x))

In [14]:
df_final['Year'] = df_final['Year'].apply(lambda x : int_conv(x))

In [15]:
df_final['Month'] = df_final['Month'].apply(lambda x : int_conv(x))

In [16]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5647 entries, 0 to 5646
Data columns (total 12 columns):
Date_Noticed                5647 non-null object
POONDI_level                5647 non-null float64
CHOLAVARAM_level            5647 non-null float64
REDHILLS_level              5647 non-null float64
CHEMBARAMBAKKAM_level       5647 non-null float64
POONDI_rainfall             5647 non-null float64
CHOLAVARAM_rainfall         5647 non-null float64
REDHILLS_rainfall           5647 non-null float64
CHEMBARAMBAKKAM_rainfall    5647 non-null float64
Date                        5647 non-null int64
Month                       5647 non-null int64
Year                        5647 non-null int64
dtypes: float64(8), int64(3), object(1)
memory usage: 573.5+ KB

### We are creating new columns for "Level -(minus) Rainfall" data, to get the idea of the excess rainfall

In [17]:
df_final['Poondi_level_remaining'] = ((df_final['POONDI_level'] - df_final['POONDI_rainfall']))

In [18]:
df_final['Poondi_level_remaining'].head()

0    3.9
1    3.9
2    3.9
3    3.9
4    3.8
Name: Poondi_level_remaining, dtype: float64

In [19]:
df_final['Poondi_level_remaining'].describe()

count    5647.000000
mean     1129.907717
std      1026.001403
min       -93.000000
25%       212.000000
50%       781.000000
75%      2000.500000
max      3231.000000
Name: Poondi_level_remaining, dtype: float64

In [51]:
df_final.head()

,Date_Noticed,POONDI_level,CHOLAVARAM_level,REDHILLS_level,CHEMBARAMBAKKAM_level,POONDI_rainfall,CHOLAVARAM_rainfall,REDHILLS_rainfall,CHEMBARAMBAKKAM_rainfall,Date,Month,Year,Poondi_level_remaining,Cholavaram_level_remaining,Redhills_level_remaining,Chembarambakkam_level_remaining
0,01-01-2004,3.9,0.0,268.0,0.0,0.0,0.0,0.0,0.0,1,1,2004,3.9,0.0,268.0,0.0
1,02-01-2004,3.9,0.0,268.0,0.0,0.0,0.0,0.0,0.0,2,1,2004,3.9,0.0,268.0,0.0
2,03-01-2004,3.9,0.0,267.0,0.0,0.0,0.0,0.0,0.0,3,1,2004,3.9,0.0,267.0,0.0
3,04-01-2004,3.9,0.0,267.0,0.0,0.0,0.0,0.0,0.0,4,1,2004,3.9,0.0,267.0,0.0
4,05-01-2004,3.8,0.0,267.0,0.0,0.0,0.0,0.0,0.0,5,1,2004,3.8,0.0,267.0,0.0

In [21]:
df_final['Cholavaram_level_remaining'] = ((df_final['CHEMBARAMBAKKAM_level'] - df_final['CHEMBARAMBAKKAM_rainfall']))

In [22]:
df_final['Redhills_level_remaining'] = ((df_final['REDHILLS_level'] - df_final['REDHILLS_rainfall']))

In [23]:
df_final['Chembarambakkam_level_remaining'] = ((df_final['CHEMBARAMBAKKAM_level'] - df_final['CHEMBARAMBAKKAM_rainfall']))

In [66]:
table = pd.pivot_table(df_final, index = ['Year'], values = ["POONDI_rainfall", "CHOLAVARAM_rainfall", 'CHEMBARAMBAKKAM_rainfall', "REDHILLS_rainfall"], aggfunc=[np.sum, np.mean])
table

                          sum                                      \
     CHEMBARAMBAKKAM_rainfall CHOLAVARAM_rainfall POONDI_rainfall
Year
2004                   952.00              1230.0         1099.00
2005                  2428.00              2253.0         2031.00
2006                  1488.00              1330.0         1035.00
2007                  1353.00              1400.0         1703.00
2008                  1578.00              1685.0         1524.00
2009                  1542.00              1089.0          982.85
2010                  1449.00              1914.0         1120.50
2011                  2019.00              1141.2         1391.20
2012                   824.30               909.0         1100.60
2013                  1262.55               950.0         1119.00
2014                  1233.00               937.0         1118.60
2015                  2463.00              2150.0         2039.10
2016                  1210.00               905.0          857.60
2017                  1618.20              1440.0         1134.80
2018                   738.00              1090.0          706.00
2019                     0.00                 3.0           37.00

                                           mean                      \
     REDHILLS_rainfall CHEMBARAMBAKKAM_rainfall CHOLAVARAM_rainfall
Year
2004            1158.4                 2.601093            3.360656
2005            2395.5                 6.652055            6.172603
2006            1328.0                 4.076712            3.643836
2007            1531.4                 3.706849            3.835616
2008            1755.0                 4.311475            4.603825
2009            1281.0                 4.224658            2.983562
2010            1649.6                 3.969863            5.243836
2011            1515.4                 5.531507            3.126575
2012             932.7                 2.252186            2.483607
2013            1033.4                 3.459041            2.602740
2014            1029.4                 3.378082            2.567123
2015            2276.6                 6.747945            5.890411
2016             873.2                 3.306011            2.472678
2017            1621.4                 4.433425            3.945205
2018             833.0                 2.021918            2.986301
2019               1.0                 0.000000            0.017857


     POONDI_rainfall REDHILLS_rainfall
Year
2004        3.002732          3.165027
2005        5.564384          6.563014
2006        2.835616          3.638356
2007        4.665753          4.195616
2008        4.163934          4.795082
2009        2.692740          3.509589
2010        3.069863          4.519452
2011        3.811507          4.151781
2012        3.007104          2.548361
2013        3.065753          2.831233
2014        3.064658          2.820274
2015        5.586575          6.237260
2016        2.343169          2.385792
2017        3.109041          4.442192
2018        1.934247          2.282192
2019        0.220238          0.005952

In [68]:
year = df_final.groupby('Year')

In [73]:
year['POONDI_rainfall'].max()

Year
2004     91.0
2005    166.0
2006     76.0
2007    300.0
2008    162.0
2009    145.0
2010     88.0
2011    138.0
2012    110.6
2013     93.0
2014     96.0
2015    190.0
2016     86.5
2017    135.0
2018     74.0
2019     27.0
Name: POONDI_rainfall, dtype: float64

### We are checking below for the year in which the rainfall exceeded the level amount

In [ ]:
df_final[df_final['Poondi_level_remaining'] < 0]['Year'].value_counts()

In [ ]:
df_final[df_final['Cholavaram_level_remaining'] < 0]['Year'].value_counts()

In [ ]:
df_final[df_final['Redhills_level_remaining'] < 0]['Year'].value_counts()

In [ ]:
df_final[df_final['Chembarambakkam_level_remaining'] < 0]['Year'].value_counts()

Below data tells about the area and year where rainfall exceeded level limits.
* 2004 and 2017 : heavy rainfall in all regions
* 2005 : heavy rainfall in Cholavaram, Chembarambakkam and Poondi
* 2015 : heavy rainfall in Redhills
* 2018 : heavy rainfall in Poondi

In [ ]:
df_final[(df_final['Poondi_level_remaining'] < 0) & (df_final['Year'] == 2004)]['Month'].value_counts(sort = False)

this information tells about exceeded rainfall for year 2004 with respect to month sequence

In [ ]:
df_final[df_final['Poondi_level_remaining'] < 0]['Month'].value_counts(sort = False)

this information tells about exceeded rainfall for all years with respect to month sequence

For Poondi region, maximum rainfall occured for 8 days in August, 16 days in September, 6 days in October

In [ ]:
df_final[df_final['Chembarambakkam_level_remaining'] < 0]['Month'].value_counts(sort = False)

For Chembarambakkam region, maximum rainfall occured for 9 days in May, July and August, 25 days in September, 17 days in October

In [ ]:
df_final[df_final['Cholavaram_level_remaining'] < 0]['Month'].value_counts(sort = False)

For Cholavaram region, maximum rainfall occured for 7 days in July and August, 25 days in September, 6 days in June, 17 days in October

In [ ]:
df_final[df_final['Redhills_level_remaining'] < 0]['Month'].value_counts(sort = False)

For Redhills region, maximum rainfall occured for 11 days in August, 16 days in September, 20 days in October

In [ ]:
print("\ndf_final['Year'].nunique() : \n", df_final['Year'].nunique())
print("\ndf_final['Year'].unique() : \n", df_final['Year'].unique())

In [ ]:
df_final.shape

In [ ]:
df_final['Precaution_taken'] = df_final['Date']

In [ ]:
def impute_precaution(cols) :
    precaution = cols[0]
    poondi = cols[1]
    cholavaram = cols[2]
    redhill = cols[3]
    chembarambakkam = cols[4]
    
    if poondi < 0 :
        return "yes"
    elif cholavaram < 0 :
        return "yes"
    elif redhill < 0 :
        return "yes"
    elif chembarambakkam < 0 :
        return "yes"
    else :
        return "no"

In [ ]:
df_final['Precaution_taken'] = df_final[['Precaution_taken', "Poondi_level_remaining", "Cholavaram_level_remaining", "Redhills_level_remaining" , "Chembarambakkam_level_remaining"]].apply(impute_precaution, axis = 1)

In [ ]:
df_final.head()

In [ ]:
df_final['Precaution_taken'].value_counts()

In [ ]:
df_final.shape

#### Making of dataset for machine modelling

In [ ]:
precaution = pd.get_dummies(df_final['Precaution_taken'],drop_first=True)
precaution.head()

In [ ]:
df_final.drop("Precaution_taken", inplace=True, axis = 1)

In [ ]:
df_final = pd.concat([df_final, precaution], axis = 1)

In [ ]:
df_final.columns

In [ ]:
df_final.shape

### checking of machine models to compare the result

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
import time

In [ ]:
x = df_final[['POONDI_level', 'CHOLAVARAM_level', 'REDHILLS_level',
       'CHEMBARAMBAKKAM_level', 'Month']]

y = df_final['yes']

In [ ]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.2, random_state = 111)

In [ ]:
models_list = []
models_list.append(('CART', DecisionTreeClassifier()))
models_list.append(('SVM', SVC())) # It is taking 6.5 minutes here, so avoid for now
models_list.append(('NB', GaussianNB()))
models_list.append(('KNN', KNeighborsClassifier()))
models_list.append(('Logistic', LogisticRegression()))

In [ ]:
import warnings

num_folds = 10
results = []
names = []
with warnings.catch_warnings():
    warnings.simplefilter("ignore")
    kfold = KFold(n_splits=num_folds, random_state=123)
    for name, model in models_list:
        kfold = KFold(n_splits=num_folds, random_state=123)
        start = time.time()
        cv_results = cross_val_score(model, xtrain, ytrain, cv=kfold, scoring='accuracy')
        end = time.time()
        results.append(cv_results)
        names.append(name)
        print( "%s: %f (%f) (run time: %f)" % (name, cv_results.mean(), cv_results.std(), end-start))

In [ ]:
fig = plt.figure()
fig.suptitle('Performance Comparison')
ax = fig.add_subplot(111)
plt.boxplot(results)
ax.set_xticklabels(names)
plt.show()

KNN(accuracy = 0.98) is giving the best result for our dataset(taking only rainfall_level csv file) ,ie, to predict weather to take precation for exceeded rainfall

#### checking with increased columns

In [ ]:
x = df_final[['POONDI_level', 'CHOLAVARAM_level', 'REDHILLS_level',
       'CHEMBARAMBAKKAM_level','POONDI_rainfall', 'CHOLAVARAM_rainfall',
       'REDHILLS_rainfall', 'CHEMBARAMBAKKAM_rainfall', 'Month']]

y = df_final['yes']

In [ ]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.2, random_state = 111)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
import time

In [ ]:
models_list = []
models_list.append(('CART', DecisionTreeClassifier()))
models_list.append(('SVM', SVC())) # It is taking 6.5 minutes here, so avoid for now
models_list.append(('NB', GaussianNB()))
models_list.append(('KNN', KNeighborsClassifier()))
models_list.append(('Logistic', LogisticRegression()))

In [ ]:
import warnings

num_folds = 10
results = []
names = []
with warnings.catch_warnings():
    warnings.simplefilter("ignore")
    kfold = KFold(n_splits=num_folds, random_state=123)
    for name, model in models_list:
        kfold = KFold(n_splits=num_folds, random_state=123)
        start = time.time()
        cv_results = cross_val_score(model, xtrain, ytrain, cv=kfold, scoring='accuracy')
        end = time.time()
        results.append(cv_results)
        names.append(name)
        print( "%s: %f (%f) (run time: %f)" % (name, cv_results.mean(), cv_results.std(), end-start))

In [ ]:
fig = plt.figure()
fig.suptitle('Performance Comparison')
ax = fig.add_subplot(111)
plt.boxplot(results)
ax.set_xticklabels(names)
plt.show()

Decision Tree(accuracy = 0.99) is giving the best result for our dataset(taking only reservoir_level and reservoir_rainfall csv file) ,ie, to predict weather to take precation for exceeded rainfall

### Tuning of Decision Tree

In [ ]:

start = time.time()
#create a dictionary of all values we want to test
param_grid = { 'criterion':["gini", 'entropy'],'max_depth': np.arange(3,15), 'max_features': np.arange(2,5)}

model=DecisionTreeClassifier()
#use gridsearch to test all values
grid = GridSearchCV(model, param_grid, cv = 10)
#fit model to data
grid.fit(xtrain, ytrain)
end = time.time()
print("time taken : ", (end - start))

print("\ngrid.best_params_ : \n", grid.best_params_)
print("\ngrid.best_estimator_ : \n", grid.best_estimator_)
print("\ngrid.best_index_ : \n", grid.best_index_)
print("\ngrid.best_score_ : \n", grid.best_score_)

In [ ]:
predict = grid.predict(xtest)

In [ ]:
from sklearn import metrics

In [ ]:
print("\n metrics.confusion_matrix : \n", metrics.confusion_matrix(ytest, predict))
print("\n metrics.classification_report : \n", metrics.classification_report(ytest, predict))
print("\n metrics.accuracy_score : \n", metrics.accuracy_score(ytest, predict))

In [ ]:
from sklearn.metrics import roc_auc_score, roc_curve

In [ ]:
# predict probabilities
probs = grid.predict_proba(xtest)
# keep probabilities for the positive outcome only
probs = probs[:, 1]

In [ ]:
# calculate AUC
auc = roc_auc_score(ytest, probs)
auc

In [ ]:
# calculate roc curve
fpr, tpr, thresholds = roc_curve(ytest, probs)

In [ ]:
plt.plot([0, 1], [0, 1], linestyle='--')   #plt.plot(x, y)
# plot the roc curve for the model
plt.plot(fpr, tpr, marker='.')
# show the plot
plt.show()

Here we have trained our model to predict weather we have to take precaution of reservoir level,
handling depending on the month and it's level, rainfall parameters

We used Decision Tree Classifier to get the results with tuned parameters that gave us the accuracy of 0.990265, AUC = 0.814